body {
    margin: 0;
    background-color: #a4a4a4;
}

canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: #ffffff;
}

option {
    padding: 20px;
}

.menu-button {
    background-color: #303245;
    color: #ffffff;
    width: 120px;
    /*margin-top: 10px;*/
    margin-left: 10px;
    padding: 10px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

:disabled {
    opacity: 0.4;
}

.horz-light-sep {
    height: 5px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #E4E1FF;
    border-radius: 10px;
}

.options {
    display: inline-block;
    padding: 5px;
}

.subtitle {
    text-align: center;
    margin: 20px auto;
    font-size: 22px;
    font-weight: 500;
}

.overlay {
    background-color: #15172b;
    opacity: 0.85;
    border-radius: 20px;
    padding: 20px;
    font-family: sans-serif;
}

#info {
    color: #ffffff;
    position: absolute;
    top: 2%;
    right: 2%;
    /*height: 450px;*/
    width: 300px;
    flex-direction: column;
}

#timer {
    padding: 35px 0;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

#timer_circle {
    background-color: #303245;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}

#menu {
    position: absolute;
    right: 2%;
    bottom: 5%;
    width: 300px;
    /*height: 100px;*/
}

.title {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    padding: 10px;
}

.wrapper {
    display: flex;
    /*border: 1px solid #666;*/
    padding: 10px;
}
.wrapper.around {
    justify-content: space-around;
}
.wrapper.between {
    justify-content: space-between;
}

#score-text, #best-score-text {
    color: #ffffff;
    text-align: center;
}